<h1> Individual Post </h1>
<p class="post-title">
  <strong><%= @article.title.downcase %></strong>
</p>

<p class="post-body">
  <%= @article.text %>  
</p>

<h3> Comments </h3>

<div class="article-comments">
  <%= render @article.comments %>
</div>
<% if current_user %>
  <h3> Add a Comment</h3>
  <%= render 'comments/form' %>
<% end %>
<% if authorized_editor? %>
  <%= link_to 'Edit', edit_article_path(@article) %>
<% end %>

<%= link_to 'Back', articles_path %>
